/*
 * Empty Stylesheet file.
 */

BorderPane {
    -fx-padding: 5;
    -fx-alignment: center;
}

VBox {
    -fx-padding: 5;
    -fx-spacing: 10;
    -fx-alignment: center;
}

.root {
    -fx-font-size: 16;
}
